<tr>
  <th scope="row"><%= quiz.title %></th>
  <td><%= quiz.level %></td>
  <td><%= quiz.questions.count %></td>
  <td><%= button_to t('.start'), start_quiz_path(quiz), class: 'btn btn-info' %></td>
</tr>
