.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #dcdcdc;
}

.nav__logo {
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: #4a4a4a;
  &:hover {
    background: none;
    color: #4a4a4a;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
  a { text-decoration: none; }
}
